/* HEX COLOR CODES FOR LAYOUT
 BG - #cccfd1 
 LINK - #2875d6
 BUTTON BG - #252d34
 */
/* DEFAULT CSS PRESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #cccfd1;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
ul, li, ol {
  list-style: none;
  text-decoration: none;
  display: inline-block;
}
span {
  display: inline-block;
}
/* END OF PRESET */
body {
  background-color: #171c20;
}
/* TICKET SELECTION TOP HEADER */
.fandangoLogo {
  height: 30px;
  margin-top: 0.5em;
  margin-bottom: 0.7em;
}
.ticketSelectionHeader i {
  color: #f56f01;
  font-size: 16px;
}
.ticketSelectionHeader {
  border-bottom: 0.5px solid #21282f;
  border-top: 0.5px solid #21282f;
  padding-bottom: 0.7em;
  padding-top: 0.5em;
}
.ticketSelection-P {
  font-size: 16px;
  color: white;
  font-weight: 700;
}
/* TICKET SECTION/BODY */
.ticketBody {
  width: 100%;
  margin: auto;
  margin-top: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
@media (min-width: 768px) {
  .ticketBody {
      width: 50%;
  }
}
.ticketBody h2 {
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 1em;
  color: white;
}
.ticketBody .container .row {
  border-bottom: 1px solid #21282f;
  padding-top: 2em;
  padding-bottom: 2em;
}
.ticketType h3 {
  color: white;
  font-size: 16px;
}
.ticketAmount ul li {
  display: inline-block;
  font-size: 18px;
}
.fa-solid:hover {
  cursor: pointer;
}
.fa-solid:hover {
  color: #307fd5;
  transition: 0.5s;
}
.ticketPrice {
  margin-bottom: 0.2em;
  font-size: 14px;
}
.demographicBox:hover {
  background-color: #21282f70;
}
/* FOOTER */
.disclaimer {
  font-size: 14px;
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #21282f;
  padding-bottom: 1em;
}
.policies {
  font-size: 14px;
  color: #297fd1;
}
.policies:hover {
  color: #6ca0d8;
}
/* ACCORDION */
.policyAccordion {
  background: none;
}
.policyAccordionHeader {
  background: none;
  
}
.accordion-body h2 {
  font-size: 16px;
  /* margin-bottom: 0.5em; */
}
.accordion-button:not(.collapsed) {
  background: none;
}
.accordion-button:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid orange;
}
.policy-text {
  font-size: 14px;
  color: grey;
}
.accordionBold {
  color: grey;
}
/* END OF ACCORDION */
footer {
  background-color: #252d34;
  margin-top: 15em;
  padding-bottom: 2em;
  padding-top: 2em;
}
.footerBody {
  width: 40%;
  margin: auto;
}
h4 {
  font-size: 12px;
}
.footerLinks li {
  font-size: 11px;
  border-bottom: 1px solid #307fd5;
  color: #307fd5;
}
.footerLinks li:after {
  content: "•";
  font-size: 8px;
  margin-left: 5px;
}
.footerLinks li:hover {
  border-bottom: 1px solid #6ca0d8;
  color: #6ca0d8;
  
}
hr {
  margin-top: 1.5em;
}
.nextBtn {
  font-size: 16px;
  color: white;
  font-weight: 700;
  background-color: #f56f01;
  padding-left: 10em;
  padding-right: 10em;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  line-height: 2em;
  border-radius: 3px;
}
.footerEnd {
  border-top: 1px solid #252d34;
  padding-top: 0.8em;
  margin-top: 1em;
}
@media (min-width: 768px) {
  .footerEnd {
      border-top: none;
  }
}
@media (max-width: 768px) {
  body {
      overflow-y: hidden;
  }
}
