footer {
    background-color: #252d34;
    margin-top: 15em;
    padding-bottom: 2em;
    padding-top: 2em;
}
.footerBody {
    width: 40%;
    margin: auto;
}
h4 {
    font-size: 12px;
    color: white;
}
.footerLinks li {
    font-size: 11px;
    border-bottom: 1px solid #307fd5;
    color: #307fd5;
}
.footerLinks li:after {
    content: "•";
    font-size: 8px;
    margin-left: 5px;
}
.footerLinks li:hover {
    border-bottom: 1px solid #6ca0d8;
    color: #6ca0d8;
    
}
hr {
    margin-top: 1.5em;
}
.nextBtn {
    font-size: 16px;
    color: white;
    font-weight: 700;
    background-color: #f56f01;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    line-height: 2em;
    border-radius: 3px;
}
.nextBtn:disabled {
    background-color: grey;
}
.footerEnd {
    border-top: 1px solid #252d34;
    padding-top: 0.8em;
    margin-top: 1em;
}
@media (min-width: 768px) {
    .footerEnd {
        border-top: none;
    }
    /* .selectedSeats {
        margin-left: 41%;
    } */
}
@media (max-width: 768px) {
    body {
        overflow-y: hidden;
    }
}
#seatsFooter {
    background-color: #171c20;
    border-top: 1px solid #232a31;
}
.seatsBtn {
    background-color: #f56f01;
    color: white;
    padding: 0.5rem 6rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #f56f01;
    border-radius: 3px;

}
