.checkBoxContainer {
    width: 50vw;
}
@media (max-width: 768px) {
    .checkBoxContainer {
        width: 100vw;
    }
}
.checkBoxSeat {
    width: 2em;
    height: 2em;
    border: 1em solid #4aa7f6;
    background-color: #4aa7f6;
}
.input-group-text {
    padding: 0;
}
.form-check-input {
    margin-top: 0;
}
.input-group-text {
    background-color: #171c20;
    border: none;
}