.disclaimer {
    font-size: 14px;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #21282f;
    padding-bottom: 1em;
}
.policies {
    font-size: 14px;
    color: #297fd1;
}
.policies:hover {
    color: #6ca0d8;
}
/* ACCORDION */
.policyAccordion {
    background: none;
}
.policyAccordionHeader {
    background: none;
    
}
.accordion-body h2 {
    font-size: 16px;
    /* margin-bottom: 0.5em; */
}
.accordion-button:not(.collapsed) {
    background: none;
}
.accordion-button:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid orange;
}
.policy-text {
    font-size: 14px;
    color: grey;
}
.accordionBold {
    color: grey;
}
/* END OF ACCORDION */
footer {
    background-color: #252d34;
    margin-top: 15em;
    padding-bottom: 2em;
    padding-top: 2em;
}
.footerBody {
    width: 40%;
    margin: auto;
}
h4 {
    font-size: 12px;
}
.footerLinks li {
    font-size: 11px;
    border-bottom: 1px solid #307fd5;
    color: #307fd5;
}
.footerLinks li:after {
    content: "•";
    font-size: 8px;
    margin-left: 5px;
}
.footerLinks li:hover {
    border-bottom: 1px solid #6ca0d8;
    color: #6ca0d8;
    
}
hr {
    margin-top: 1.5em;
}
.nextBtn {
    font-size: 16px;
    color: white;
    font-weight: 700;
    background-color: #f56f01;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    line-height: 2em;
    border-radius: 3px;
}
.footerEnd {
    border-top: 1px solid #252d34;
    padding-top: 0.8em;
    margin-top: 1em;
}
@media (min-width: 768px) {
    .footerEnd {
        border-top: none;
    }
}
@media (max-width: 768px) {
    body {
        overflow-y: hidden;
    }
}
