/* ACCORDION */
.ticketPrice {
    color: #cccfd1;
}
.white {
    color: #cccfd1;
}
.policyAccordion {
    background-color: #171c20;
    border: none;
}
.policyAccordionHeader {
    background: #171c20;
    border: none;
    color: white;
    
}
.accordion-body h2 {
    font-size: 16px;
    /* margin-bottom: 0.5em; */
}
.accordion-button:not(.collapsed) {
    background: #171c20;
}
.accordion-button:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid orange;
}
.accordion-button.collapsed {
    background: #171c20;
  }
.policy-text {
    font-size: 14px;
    color: grey;
}
.accordionBold {
    color: grey;
}
.bs-accordion-bg {
    background-color: #171c20;
}
/* END OF ACCORDION */

.plusIcon,
.minusIcon {
    background-color: #171c20;
    border: none;
    font-size: 1.5em;
}

/* .plusIcon:hover,
.minusIcon:hover {
    cursor: pointer;
    color: #307fd5;
} */
.accordionHeader {
    color: lightgrey;
}
footer {
    background-color: #252d34;
    margin-top: 15em;
    padding-bottom: 2em;
    padding-top: 2em;
}
.footerBody {
    width: 40%;
    margin: auto;
}
h4 {
    font-size: 12px;
    color: white;
}
.footerLinks li {
    font-size: 11px;
    border-bottom: 1px solid #307fd5;
    color: #307fd5;
}
.footerLinks li:after {
    content: "•";
    font-size: 8px;
    margin-left: 5px;
}
.footerLinks li:hover {
    border-bottom: 1px solid #6ca0d8;
    color: #6ca0d8;
    
}
hr {
    margin-top: 1.5em;
}
.nextBtn {
    font-size: 16px;
    color: white;
    font-weight: 700;
    background-color: #f56f01;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    line-height: 2em;
    border-radius: 3px;
}
.nextBtn:disabled {
    background-color: grey;
}
.footerEnd {
    border-top: 1px solid #252d34;
    padding-top: 0.8em;
    margin-top: 1em;
}
@media (min-width: 768px) {
    .footerEnd {
        border-top: none;
    }
}
@media (max-width: 768px) {
    body {
        overflow-y: hidden;
    }
}
/* MODAL CSS */
.bg-dark {
    background-color: #171c20;
}
label {
    font-size: 1.2em;
}
.signInBtn {
    font-size: 1.5em;
    font-weight: 800;
    background-color: #408cca;
    border-radius: 0;
    padding: 0.5em;
    color: white;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}