/* ACCORDION */

.policyAccordion {
    background-color: #171c20;
    border: none;
}
.policyAccordionHeader {
    background: #171c20;
    border: none;
    
}
.accordion-body h2 {
    font-size: 16px;
    /* margin-bottom: 0.5em; */
}
.accordion-button:not(.collapsed) {
    background: #171c20;
}
.accordion-button:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid orange;
}
.policy-text {
    font-size: 14px;
    color: grey;
}
.accordionBold {
    color: grey;
}
.bs-accordion-bg {
    background-color: #171c20;
}
/* END OF ACCORDION */

.plusIcon,
.minusIcon {
    background-color: #171c20;
    border: none;
    font-size: 1.5em;
}

/* .plusIcon:hover,
.minusIcon:hover {
    cursor: pointer;
    color: #307fd5;
} */